.insta-feed {
  padding: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* gap: 15px; */
}

/* .post img {
  width: 100%;
  height: auto;
  border-radius: 10px;
} */

.post p {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}
